# My approach

1. The first and foremost step is to understand the problem statement entirely and make important deductions based on the statement .


  + What are we trying to find out ? Engagement of different types of customers and effectivity of Starbucks offer Campaign.
  + What are the important factors affecting the following ?
  + In what areas to focus in order to achieve max output . 
  
  
2. Importing the required libraries .


3. Loading the data .


 + The data consists of 3 parts . We call each part seperatly and assign 3 seperate dataframes to each .
 + For further analysis of these data and how they correlate with each other , we can merge them and then analyse them further however , I usually extend this part to EDA and not in Loading the Data because the data we have just received might not be perfect . It is not right to make dedcutions without clearing your assumptions on the data and without cleaning it .


4. Data Wrangling / Cleaning


  + This is always an important step . This step becomes ground for clearing any assumptions about the data through hypothesis testing .
  + Further , cleaning and transforming the data further prerares it for EDA . 
 
   >  Do keep in mind that data transormation here doesn't refer to minmax scaling or normalization . Simply conversion of irregular attributes to derive more regular attributes ( for example : dict value from offer Data ) .

 # Importing Libraries

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
# plt.style.use('fivethirtyeight')
# sns.set()

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn import metrics

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
# from sklearn.decomposition import PCA

# Loading Data

In [2]:
customerData = pd.read_csv('profile.csv')
offerData = pd.read_csv('portfolio.csv')
offerTData = pd.read_csv('transcript.csv')

# Data Wrangling and Transformation

### Customer Data

In [3]:
customerData.head()

,Unnamed: 0,gender,age,id,became_member_on,income
0,0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN
1,1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0
2,2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN
3,3,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
4,4,NaN,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN

In [4]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        17000 non-null  int64
 1   gender            14825 non-null  object
 2   age               17000 non-null  int64
 3   id                17000 non-null  object
 4   became_member_on  17000 non-null  int64
 5   income            14825 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 797.0+ KB

In [5]:
customerData = customerData.drop('Unnamed: 0', axis=1)

In [6]:
customerData.isna().sum()

gender              2175
age                    0
id                     0
became_member_on       0
income              2175
dtype: int64

In [7]:
setofids = set()
tempd = customerData.copy()
tempd['income'] = tempd['income'].isna()
tempd['remove'] = np.where((tempd.income==True) , 1, 0)
print(tempd['remove'].sum())
for i,c in tempd.iterrows():
    if c['remove'] == 1:
        setofids.add(c['id'])
print(len(setofids))

2175
2175

In [8]:
offerTData = offerTData[~offerTData.person.isin(setofids)]

In [9]:
customerData = customerData[~customerData.id.isin(setofids)]

In [10]:
cus_ids = list(customerData['id'])
cus_ids.sort()
off_ids = list(offerTData['person'].unique())
off_ids.sort()
print(cus_ids==off_ids)

True

### Offer data

In [11]:
offerData = offerData.drop('Unnamed: 0', axis=1)
offerData.head()

,reward,channels,difficulty,duration,offer_type,id
0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7

In [12]:
offerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reward      10 non-null     int64
 1   channels    10 non-null     object
 2   difficulty  10 non-null     int64
 3   duration    10 non-null     int64
 4   offer_type  10 non-null     object
 5   id          10 non-null     object
dtypes: int64(3), object(3)
memory usage: 608.0+ bytes

In [13]:
offerData = offerData.groupby(['offer_type','difficulty','duration','reward','channels','id']).count().sort_values(by=['offer_type','difficulty'])

In [14]:
# For simpler depiciton , id add an  index column for each offer 
offerData.reset_index(inplace=True,drop=False)

In [15]:
offerData

,offer_type,difficulty,duration,reward,channels,id
0,bogo,5,5,5,"['web', 'email', 'mobile', 'social']",f19421c1d4aa40978ebb69ca19b0e20d
1,bogo,5,7,5,"['web', 'email', 'mobile']",9b98b8c7a33c4b65b9aebfe6a799e6d9
2,bogo,10,5,10,"['web', 'email', 'mobile', 'social']",4d5c57ea9a6940dd891ad53e9dbe8da0
3,bogo,10,7,10,"['email', 'mobile', 'social']",ae264e3637204a6fb9bb56bc8210ddfd
4,discount,7,7,3,"['web', 'email', 'mobile', 'social']",2298d6c36e964ae4a3e7e9706d1fb8c2
5,discount,10,7,2,"['web', 'email', 'mobile']",2906b810c7d4411798c6938adc9daaa5
6,discount,10,10,2,"['web', 'email', 'mobile', 'social']",fafdcd668e3743c1bb461111dcafc2a4
7,discount,20,10,5,"['web', 'email']",0b1e1539f2cc45b7b9fa7c272da2e1d7
8,informational,0,3,0,"['email', 'mobile', 'social']",5a8bc65990b245e5a138643cd4eb9837
9,informational,0,4,0,"['web', 'email', 'mobile']",3f207df678b143eea3cee63160fa8bed

### Transcript Data

In [16]:
offerTData = offerTData.drop('Unnamed: 0', axis=1)
offerTData.reset_index(inplace=True,drop=True)
offerTData.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
2,389bc3fa690240e798340f5a15918d5c,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0
3,2eeac8d8feae4a8cad5a6af0499a211d,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},0
4,aa4862eba776480b8bb9c68455b8c2e1,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0

In [17]:
offerTData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272762 entries, 0 to 272761
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   person  272762 non-null  object
 1   event   272762 non-null  object
 2   value   272762 non-null  object
 3   time    272762 non-null  int64
dtypes: int64(1), object(3)
memory usage: 8.3+ MB

In [18]:
def hypothTesting(coln):
    of_v = offerTData[offerTData['event']==coln]
    tranDict = of_v['value']
    tranDict = tranDict.apply(eval)
    set1 = set()
    set2 = set()
    for _ in tranDict:
        set1.add(len(_))
        set2.add(next(iter(_)))
    print("First example : "+str(next(iter(tranDict)))) # add format from customer segmentation
    print("No. of elements in dict. : "+str(set1))
    print("First element of dict. : "+str(set2))

In [19]:
offerTData['event'].value_counts()

transaction        123957
offer received      66501
offer viewed        49860
offer completed     32444
Name: event, dtype: int64

In [20]:
hypothTesting('transaction')

First example : {'amount': 0.8300000000000001}
No. of elements in dict. : {1}
First element of dict. : {'amount'}

In [21]:
hypothTesting('offer received')

First example : {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
No. of elements in dict. : {1}
First element of dict. : {'offer id'}

In [22]:
hypothTesting('offer viewed')

First example : {'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
No. of elements in dict. : {1}
First element of dict. : {'offer id'}

In [23]:
hypothTesting('offer completed')

First example : {'offer_id': '2906b810c7d4411798c6938adc9daaa5', 'reward': 2}
No. of elements in dict. : {2}
First element of dict. : {'offer_id'}

In [24]:
# Adding reward,offer_id,amount column to the offer dataset

tranDict = offerTData['value']
tranDict = tranDict.apply(eval)

offerTData['reward'] = 0
offerTData['offer id'] = 0
offerTData['amount'] = 0
offerTData.reset_index(inplace=True,drop=True)

for i,c in offerTData.iterrows():
    if c['event'] == 'transaction':
        offerTData.loc[i,'amount'] = tranDict[i]['amount']
    elif c['event'] == 'offer completed':
        offerTData.loc[i,'offer id'] = tranDict[i]['offer_id']
        offerTData.loc[i,'reward'] = tranDict[i]['reward']
    else:
        offerTData.loc[i,'offer id'] = tranDict[i]['offer id']

In [25]:
offerTData.drop('value',axis=1,inplace=True)
offerTData.head()

,person,event,time,reward,offer id,amount
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0
1,e2127556f4f64592b11af22de27a7932,offer received,0,0,2906b810c7d4411798c6938adc9daaa5,0.0
2,389bc3fa690240e798340f5a15918d5c,offer received,0,0,f19421c1d4aa40978ebb69ca19b0e20d,0.0
3,2eeac8d8feae4a8cad5a6af0499a211d,offer received,0,0,3f207df678b143eea3cee63160fa8bed,0.0
4,aa4862eba776480b8bb9c68455b8c2e1,offer received,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.0

In [26]:
offerTData = offerTData.sort_values(by=['person'])
customerData = customerData.sort_values(by=['id'])

# Data Engineering

## Transcript dataset

In [27]:
offerTData = offerTData.assign(daysSinceStart = offerTData['time']/24).astype({'daysSinceStart': 'int64'})
offerTData = offerTData.assign(dayQuarter = offerTData['time']%24).astype({'dayQuarter': 'int64'})
offerTData = offerTData.assign(dayQuarter = offerTData['dayQuarter']/6).astype({'dayQuarter': 'str'})

In [28]:
#offerTData = pd.get_dummies(offerTData, columns = ['dayQuarter'])

In [29]:
offerTData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272762 entries, 229997 to 28956
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   person          272762 non-null  object
 1   event           272762 non-null  object
 2   time            272762 non-null  int64
 3   reward          272762 non-null  int64
 4   offer id        272762 non-null  object
 5   amount          272762 non-null  float64
 6   daysSinceStart  272762 non-null  int64
 7   dayQuarter      272762 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 18.7+ MB

In [30]:
offerTData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272762 entries, 229997 to 28956
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   person          272762 non-null  object
 1   event           272762 non-null  object
 2   time            272762 non-null  int64
 3   reward          272762 non-null  int64
 4   offer id        272762 non-null  object
 5   amount          272762 non-null  float64
 6   daysSinceStart  272762 non-null  int64
 7   dayQuarter      272762 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 18.7+ MB

In [31]:
offerTData['dayQuarter'].value_counts()

0.0    124216
1.0     52125
2.0     49342
3.0     47079
Name: dayQuarter, dtype: int64

## Customer dataset

#### Order of viewing

In [32]:
tempd = offerTData.copy()[['person','time','offer id']][offerTData['event']=='offer viewed'].sort_values(by=['person','time'])
tempd.reset_index(inplace=True,drop=False)

In [ ]:
customerData['orderOfView'] = None

for i,c in tempd.iterrows():
    t = customerData.index[customerData['id'] == c['person']].tolist()
    t1 = t[0]
    if(customerData.loc[t1,'orderOfView'] == None):
        customerData.loc[t1,'orderOfView'] = c['offer id']
    else:
        customerData.loc[t1,'orderOfView'] = customerData.loc[t1,'orderOfView'] + c['offer id']

In [ ]:
customerData.isna().sum()  # no. of users who didnt view any offer

In [ ]:
customerData.fillna(0)

#### Most Completed Offer Categorised

In [ ]:
# most completed offer

customerData = customerData.sort_values(by=['id'])
customerData.reset_index(inplace=True,drop=True)

customerData['of0c'] = 0
customerData['of1c'] = 0
customerData['of2c'] = 0
customerData['of3c'] = 0
customerData['of4c'] = 0
customerData['of5c'] = 0
customerData['of6c'] = 0
customerData['of7c'] = 0
customerData['of8c'] = 0
customerData['of9c'] = 0

tempd = offerTData.copy()[offerTData['event']=='offer completed']
tempd = tempd.sort_values(by=['person','offer id'])
tempd.reset_index(inplace=True,drop=False)

for i,c in tempd.iterrows():
    t = customerData.index[customerData['id'] == c['person']].tolist()
    t1 = t[0]
    if(c['offer id']=='0b1e1539f2cc45b7b9fa7c272da2e1d7'):
        customerData.loc[t1,'of0c'] = customerData.loc[t1,'of0c'] + 1
    elif(c['offer id']=='2298d6c36e964ae4a3e7e9706d1fb8c2'):
        customerData.loc[t1,'of1c'] = customerData.loc[t1,'of1c'] + 1
    elif(c['offer id']=='2906b810c7d4411798c6938adc9daaa5'):
        customerData.loc[t1,'of2c'] = customerData.loc[t1,'of2c'] + 1
    elif(c['offer id']=='3f207df678b143eea3cee63160fa8bed'):
        customerData.loc[t1,'of3c'] = customerData.loc[t1,'of3c'] + 1
    elif(c['offer id']=='4d5c57ea9a6940dd891ad53e9dbe8da0'):
        customerData.loc[t1,'of4c'] = customerData.loc[t1,'of4c'] + 1
    elif(c['offer id']=='5a8bc65990b245e5a138643cd4eb9837'):
        customerData.loc[t1,'of5c'] = customerData.loc[t1,'of5c'] + 1
    elif(c['offer id']=='9b98b8c7a33c4b65b9aebfe6a799e6d9'):
        customerData.loc[t1,'of6c'] = customerData.loc[t1,'of6c'] + 1
    elif(c['offer id']=='ae264e3637204a6fb9bb56bc8210ddfd'):
        customerData.loc[t1,'of7c'] = customerData.loc[t1,'of7c'] + 1
    elif(c['offer id']=='f19421c1d4aa40978ebb69ca19b0e20d'):
        customerData.loc[t1,'of8c'] = customerData.loc[t1,'of8c'] + 1
    elif(c['offer id']=='fafdcd668e3743c1bb461111dcafc2a4'):
        customerData.loc[t1,'of9c'] = customerData.loc[t1,'of9c'] + 1
    else:
        print('wtf')
        break

#### Most Accessed Quarter

In [ ]:
# most accessed quarter

customerData = customerData.sort_values(by=['id'])
customerData.reset_index(inplace=True,drop=True)

customerData['MAQ0'] = 0
customerData['MAQ1'] = 0
customerData['MAQ2'] = 0
customerData['MAQ3'] = 0

tempd = offerTData.copy()[offerTData['event']=='offer viewed']
tempd = tempd.sort_values(by=['person','offer id'])

tempd.reset_index(inplace=True,drop=False)
tempd.info()
for i,c in tempd.iterrows():
    t = customerData.index[customerData['id'] == c['person']].tolist()
    t1 = t[0]
    if(c['dayQuarter']=='0.0'):
        customerData.loc[t1,'MAQ0'] = customerData.loc[t1,'MAQ0'] + 1
    elif(c['dayQuarter']=='1.0'):
        customerData.loc[t1,'MAQ1'] = customerData.loc[t1,'MAQ1'] + 1
    elif(c['dayQuarter']=='2.0'):
        customerData.loc[t1,'MAQ2'] = customerData.loc[t1,'MAQ2'] + 1
    elif(c['dayQuarter']=='3.0'):
        customerData.loc[t1,'MAQ3'] = customerData.loc[t1,'MAQ3'] + 1

In [ ]:
customerData['MAQ'] = np.where((customerData.MAQ0 > customerData.MAQ1),np.where((customerData.MAQ0 > customerData.MAQ2),np.where((customerData.MAQ0 > customerData.MAQ3),"0","3") , np.where((customerData.MAQ2 > customerData.MAQ3),"2","3")),np.where((customerData.MAQ1 > customerData.MAQ2),np.where((customerData.MAQ1 > customerData.MAQ3),"1","3") , np.where((customerData.MAQ2 > customerData.MAQ3),"2","3")) )

In [ ]:
customerData['MAQ'].value_counts()

In [ ]:
customerData = customerData.drop(['MAQ0','MAQ1','MAQ2','MAQ3'],axis=1)

#### Memebership Date broken down

In [ ]:
customerData['became_member_on'][0]

In [ ]:
customerData["became_member_on"] = pd.to_datetime(customerData["became_member_on"],format="%Y%m%d")

In [ ]:
# Member on
customerData = customerData.assign(year = customerData.became_member_on.dt.year,
                             month = customerData.became_member_on.dt.month,
                             day = customerData.became_member_on.dt.day,
                             month_name = customerData.became_member_on.dt.month_name(),
                             day_of_week = customerData.became_member_on.dt.weekday,
                             day_name = customerData.became_member_on.dt.day_name())

#### No. of offers received , viewed , completed and no. of transactions

In [ ]:
tempd = offerTData.copy().groupby(['person','event']).count()
tempd.reset_index(inplace=True,drop=False)

In [ ]:
# no. of rec,vie,com

customerData['offR'] = 0
customerData['offV'] = 0
customerData['offC'] = 0
customerData['transactions'] = 0

for i,c in tempd.iterrows():
    t = customerData.index[customerData['id'] == c['person']].tolist()
    t1 = t[0]
    if(c['event']=='offer completed'):
        customerData.loc[t1,'offC'] = c['time']
    elif(c['event']=='offer received'):
        customerData.loc[t1,'offR'] = c['time']
    elif(c['event']=='offer viewed'):
        customerData.loc[t1,'offV'] = c['time']
    elif(c['event']=='transaction'):
        customerData.loc[t1,'transactions'] = c['time']

#### Viewing Patterns correlates to interest

In [ ]:
x = customerData[['of0c','of1c','of2c','of3c','of4c','of5c','of6c','of7c','of8c','of9c','orderOfView','offV','offC']]

In [ ]:
x = pd.get_dummies(x, columns = ['orderOfView'])

In [ ]:
from sklearn.metrics import silhouette_score

In [ ]:
#matrix = x.to_numpy()
#for n_clusters in range(3,8):
#    kmeans = KMeans(init='k-means++', n_clusters = n_clusters, n_init=30)
#    kmeans.fit(matrix)
#    clusters = kmeans.predict(matrix)
#    silhouette_avg = silhouette_score(matrix, clusters)
#    print("For n_clusters =", n_clusters, "The average silhouette_score is :", silhouette_avg)

In [ ]:
matrix = x.to_numpy()
n_clusters = 4
silhouette_avg = -1
while silhouette_avg < 0.167:
    kmeans = KMeans(init='k-means++', n_clusters = n_clusters, n_init=30)
    kmeans.fit(matrix)
    clusters = kmeans.predict(matrix)
    silhouette_avg = silhouette_score(matrix, clusters)
    print("For n_clusters =", n_clusters, "The average silhouette_score is :", silhouette_avg)

In [ ]:
customerData['interest'] = pd.Series(clusters)

In [ ]:
pd.Series(clusters).value_counts()

####  Total money spent by each user

In [ ]:
# Total money spent on each user
tempd = offerTData.copy()[['person','amount']].groupby('person').sum().sort_values(by=['person'])
tempd.reset_index(inplace=True,drop=False)

customerData['moneySpent'] = None

for i,c in tempd.iterrows():
    t = customerData.index[customerData['id'] == c['person']].tolist()
    t1 = t[0]
    customerData.loc[t1,'moneySpent'] = c['amount']

#### Final Dataset info

In [ ]:
customerData = customerData[['id','gender','age','income','became_member_on','moneySpent','interest','MAQ','transactions','offV','offC','year','month','day','month_name','day_name','day_of_week']]

In [ ]:
customerData.reset_index(drop=True,inplace=True)
customerData.info()

# EDA

## Customer Data

In [ ]:
customerData.value_counts('gender')

### Gender

In [ ]:
import seaborn

plt.figure(figsize=(15,6))
data =  customerData['gender'].value_counts()
sns.set(rc={"axes.facecolor":"#283747", "axes.grid":False,'xtick.labelsize':14,'ytick.labelsize':14})
plt.pie(data, labels=['Male', 'Female', 'Other'], colors=seaborn.color_palette('dark'),explode=[0,0,0.2], autopct='%.0f%%')
plt.title("Gender Proportion")
plt.show()

### Income

In [ ]:
plt.figure(figsize=(15,6))

#sns.set(rc={"axes.facecolor":"#283747", "axes.grid":False,'xtick.labelsize':14,'ytick.labelsize':14})
sns.set_style('white')

sns.kdeplot(customerData[customerData['gender']=='F']['income'],shade=True,color = 'orange',label="Female")
sns.kdeplot(customerData[customerData['gender']=='M']['income'],shade=True,color = 'r',label="Male")
sns.kdeplot(customerData[customerData['gender']=='O']['income'],shade=True,color = 'g',label="Other")
plt.legend(labels=["Female","Male","Others"])
seaborn =  plt.legend().get_frame()
seaborn.set_facecolor ('white')
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
sns.histplot(customerData['income'], bins=[customerData['income'].min(), 45000, 60000, 75000, 90000, 105000, customerData['income'].max()] ,kde=False,stat = "probability")
plt.show()

### Age

In [ ]:
plt.figure(figsize=(15,6))
sns.kdeplot(customerData[customerData['gender']=='F']['age'],shade=True,color = 'orange',label="Female")
sns.kdeplot(customerData[customerData['gender']=='M']['age'],shade=True,color = 'r',label="Male")
sns.kdeplot(customerData[customerData['gender']=='O']['age'],shade=True,color = 'g',label="Other")
plt.legend(labels=["Female","Male","Others"])
seaborn =  plt.legend().get_frame()
seaborn.set_facecolor ('white')
plt.show()

In [ ]:
# Create a new column `age_group`
age_group = pd.cut(customerData['age'],
      bins = [customerData['age'].min(), 25, 40, 60, customerData['age'].max()],
      labels = ['Youth (18-25)', 'Young Adults (25-40)', 'Adults (40-60)', 'Seniors (>60)'])
customerData['age_group'] = age_group

plt.figure(figsize=(15,6))
ax = sns.histplot(data = customerData,x = 'age_group',stat = "probability")
ax.set(xlabel='Age Group')
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
tempd = customerData.copy().sort_values(by=['gender'])
ax = sns.histplot(data=tempd, x="age_group", hue="gender", multiple="dodge", shrink=.8,stat = "probability")
ax.set(xlabel='Age Group')
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
sns.jointplot(data=customerData[customerData['gender']!='O'], x="income", y="age", hue="gender", kind="kde")
sns.jointplot(data=customerData[customerData['gender']=='O'], x="income", y="age", hue="gender", kind="kde")

### Membership Trends

In [ ]:
p = customerData.value_counts('became_member_on').sort_index()
memberAdded = pd.DataFrame(index = p.index.values, data = p.values, columns = ['Number of New Members'])

In [ ]:
plt.figure(figsize = (15,6))
ax = sns.lineplot(x = memberAdded.index.values, y = memberAdded['Number of New Members'],color='r')
date_format = mdates.DateFormatter('%Y-%b')
ax.xaxis.set_major_formatter(date_format)
ax.xaxis.set_major_locator(mdates.MonthLocator(interval = 4))

plt.xticks(text = ax.xaxis.get_label(), fontsize = 14, rotation = 30)
plt.yticks(text = ax.yaxis.get_label(), fontsize = 14)
plt.ylabel('Number of New Members', fontsize = 16)
plt.title('Daily Member Growth', fontsize = 20)
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize = (10,5))
sns.countplot(data = customerData.sort_values('month'), y = 'month_name')
plt.title('Number of New Members by Month', fontsize = 16)
plt.xticks(fontsize = 12); plt.yticks(fontsize = 12)
plt.xlabel('Count', fontsize = 14); plt.ylabel('Month', fontsize = 14)
plt.show()

In [ ]:
plt.figure(figsize = (10,5))
sns.countplot(data = customerData.sort_values('day_of_week'), y = 'day_name')
plt.title('Number of New Members by Weekday', fontsize = 16)
plt.xticks(fontsize = 12); plt.yticks(fontsize = 12)
plt.xlabel('Count', fontsize = 14); plt.ylabel('Weekday', fontsize = 14)
plt.show()

In [ ]:
#22200115538

#### MAQ

In [ ]:
tempd = customerData.copy().sort_values(by=['MAQ'])
plt.figure(figsize = (15,6))
ax = sns.histplot(data=tempd, x="MAQ", shrink=.8)

ax.set_xticks(range(4), labels=['12 AM - 6 AM','6 AM - 12 PM','12 PM - 6 PM','6 PM - 12 PM'])
plt.show()

## Offer Transcripts Data

In [ ]:
offerTData.info()

In [ ]:
tempd = offerTData.copy()[['event','time']].groupby('event').sum().sort_values(by='time',ascending=False)
tempd.reset_index(inplace=True,drop=False)

tempd

In [ ]:
# event value count cat histplot graph
plt.figure(figsize = (15,6))
sns.barplot(data=tempd, x="event", y="time")

In [ ]:
# offers varying with time line plot

In [ ]:
# Find how many events of each type occurred on each day from Day 0 to Day 29
received_daily = offerTData[offerTData['event'] == 'offer received'].value_counts('daysSinceStart').sort_index()
viewed_daily = offerTData[offerTData['event'] == 'offer viewed'].value_counts('daysSinceStart').sort_index()
completed_daily = offerTData[offerTData['event'] == 'offer completed'].value_counts('daysSinceStart').sort_index()
transaction_daily = offerTData[offerTData['event'] == 'transaction'].value_counts('daysSinceStart').sort_index()

# Visualize
fig, axs = plt.subplots(1,1, figsize = (14, 5))

days = np.arange(30)
# axs[1].stem(received_daily.index.values, received_daily, linefmt = ':k')
axs.plot(days, viewed_daily, lw = 3)
axs.plot(days, completed_daily, lw = 3)
axs.plot(days, transaction_daily, lw = 3)
axs.legend(['Offer Viewed', 'Offer Completed', 'Transactions'], loc = 'upper right', ncol = 1, fontsize = 10)
axs.set_ylim([0, 7400])
axs.set_xlabel('Days', fontsize = 16)
axs.set_ylabel('Events Count', fontsize = 16)
axs.set_title('Events Occurrence Daily', fontsize = 18)

plt.show()

# View Rate , Completion Rate and Received Rate

In [ ]:
offerData.reset_index(inplace=True,drop=False)
offerData = offerData.astype({'index': str})

In [ ]:
offerData

In [ ]:
# Create a df that only contains events about offers
df_event = offerTData[~(offerTData['event'] == 'transaction')]

event_offer = pd.merge(df_event, offerData, left_on = 'offer id', right_on = 'id').drop('id', axis = 1)

event_offer.sample(3)

In [ ]:
event_offer.value_counts('event')

In [ ]:
offerEventCounts = event_offer.value_counts('event').values

In [ ]:
# Find out the number of time being received for each offer 
offer_received = event_offer[event_offer['event'] == 'offer received']
p0 = offer_received.value_counts('index').sort_values(ascending = False)

# Find out the number of time being completed for each offer 
offer_completed = event_offer[event_offer['event'] == 'offer completed']
p2 = offer_completed.value_counts('index').sort_values(ascending = False)

# Overall completion rate of each offer
overall_complete_rate = (p2.sort_index() / p0.sort_index()).sort_values(ascending = False)
overall_complete_rate.sort_values(ascending = False)
# Visualize
ax = plt.bar(x = overall_complete_rate.index, height = overall_complete_rate.values)

plt.title('Overall Complete Rate %', fontsize = 18)
plt.xlabel('Offers Alias', fontsize = 15)
plt.ylabel('Percentage', fontsize = 15)
plt.yticks(np.arange(0,1.2, 0.2), labels = ['0%', '20%', '40%', '60%', '80%', '100%'])

plt.show()

In [ ]:
offer_viewed = event_offer[event_offer['event'] == 'offer viewed']
p1 = offer_viewed.value_counts('index').sort_values(ascending = False)
p1_rate = (p1.sort_index() / p0.sort_index()).sort_values(ascending = False)
plt.bar(x = np.arange(len(p1)), height = p1_rate.values, tick_label = p1_rate.index.values,
       color = ['purple', 'purple','purple', 'purple', 'm', 'm','r', 'r', 'r', 'pink'])
plt.title('View Rate %', fontsize = 18)
plt.xlabel('Offer', fontsize = 15)
plt.ylabel('Percentage', fontsize = 15)
plt.yticks(np.arange(0,1.2, 0.2), labels = ['0%', '20%', '40%', '60%', '80%', '100%'])
plt.show()

In [ ]:
offers_added = offerData.assign(view_rate = p1_rate.sort_index().values,
                            complete_rate = overall_complete_rate.sort_index().values)

# Set `offer_alias` as index
offers_added.set_index('index', inplace = True)

# From the new df, extract `view_rate`, 'complete_rate' and other numeric columns
offers_numeric = offers_added.select_dtypes(include = 'number')
offers_numeric.head()

In [ ]:
fig, axs = plt.subplots(1,2, figsize = (18, 6))
sns.heatmap(offers_numeric.iloc[:, :-1].corr(), cmap = 'rainbow', 
            annot = True, vmin = -1, vmax = 1, ax = axs[0])
axs[0].set_title('Correlation - View Rate %', fontsize = 16)

sns.heatmap(offers_numeric.iloc[:, [0,1,2,4]].corr(), cmap = 'rainbow', 
            annot = True, vmin = -1, vmax = 1, ax = axs[1])
axs[1].set_title('Correlation - Complete Rate %', fontsize = 16)
plt.show()

# Customer Segmentation

In [ ]:
customerData.info()

In [ ]:
custData = customerData[['moneySpent','offV','offC','transactions','interest']]

In [ ]:
custData.head()

In [ ]:
custData.value_counts('moneySpent')

In [ ]:
#sns.boxplot(x = custData['moneySpent'])

In [ ]:
q = custData['moneySpent'].quantile(0.98)
rows_top_money_spent = custData[custData['moneySpent'] >= q]

person_top_money_spent = rows_top_money_spent.index.values
custData = custData[custData['moneySpent'] < q]

print('Number of rows removed:', rows_top_money_spent.shape[0])

In [ ]:
#custData.interest = custData.interest.astype('str')

In [ ]:
scaler_customer_behavior = StandardScaler()
scaler_customer_behavior.fit(custData)
customer_behavior_scaled = scaler_customer_behavior.transform(custData)
pd.DataFrame(data = customer_behavior_scaled, columns = custData.columns.values).head(3)

In [ ]:
k = 5
df_feature = customer_behavior_scaled
kmeans = KMeans(n_clusters = k, random_state = 10)
kmeans.fit_transform(df_feature)
customer_with_cluster = custData.assign(cluster = kmeans.labels_)
print(customer_with_cluster.value_counts('cluster').sort_index())

line_sep = '*' * 60
print('\n', line_sep)
print('Silhouette Score:', metrics.silhouette_score(df_feature, labels = kmeans.labels_))

#
cluster_info = customer_with_cluster.groupby('cluster').agg([np.mean])
print('\n', line_sep)
print(cluster_info.round(1))

# Plot
color_list = ['red', 'blue', 'orange', 'green', 'yellow']
legend_list = ['Cluster 0', 'Cluster 1', 'Cluster 2', 'Cluster 3', 'cluster 4']
for i in range(k):
    plt.scatter(customer_with_cluster.loc[customer_with_cluster['cluster'] == i , 'offV'],
               customer_with_cluster.loc[customer_with_cluster['cluster'] == i , 'moneySpent'],
               c = color_list[i], label = legend_list[i], alpha = 0.5)
plt.ylabel('Offers Viewed', fontsize = 15)
plt.xlabel('Money Spent', fontsize = 15)
plt.legend(legend_list)
plt.show()

In [ ]:
fig, axs = plt.subplots(1, 5, figsize = (18,5))
for i in range(5):
    sns.scatterplot(data = customer_with_cluster[customer_with_cluster['cluster'] == i],
                   x = 'offV', y = 'moneySpent', alpha = 0.1, color = color_list[i], ax = axs[i])
    mean_value = custData[customer_with_cluster['cluster'] == i].agg({'moneySpent': 'mean'})
    axs[i].plot(np.arange(1, 7), (np.ones((1, 6))*mean_value.values).reshape((6,-1)), 
                color = color_list[i], lw =3, linestyle = 'dashed')
    axs[i].set_title('cluster' + str(i), fontsize = 16)
    axs[i].set_xlim((-0.5,6.5))
    axs[i].set_ylim((-0.5,500))

fig.suptitle('Money Spent vs Offers Viewed', fontsize = 20, fontweight = 'bold')
plt.tight_layout()
plt.show()

In [ ]:
fig, axs = plt.subplots(1, 5, figsize = (18,5))
for i in range(5):
    sns.scatterplot(data = customer_with_cluster[customer_with_cluster['cluster'] == i],
                   x = 'offV', y = 'offC', alpha = 0.02, color = color_list[i], ax = axs[i])
    mean_value = customer_with_cluster[customer_with_cluster['cluster'] == i].agg({'offC': 'mean'})
    axs[i].plot(np.arange(1, 7), (np.ones((1, 6))*mean_value.values).reshape((6,-1)), 
                color = color_list[i], lw =3, linestyle = 'dashed')
    axs[i].set_title('cluster' + str(i), fontsize = 16)
    axs[i].set_xlim((-0.5,6.5))
    axs[i].set_ylim((-0.5,6.5))

fig.suptitle('OffC vs Offers Viewed', fontsize = 20, fontweight = 'bold')
plt.tight_layout()
plt.show()

In [ ]:
fig, axs = plt.subplots(1, 5, figsize = (18,5))
for i in range(5):
    sns.scatterplot(data = customer_with_cluster[customer_with_cluster['cluster'] == i],
                   x = 'offV', y = 'transactions', alpha = 0.1, color = color_list[i], ax = axs[i])
    mean_value = customer_with_cluster[customer_with_cluster['cluster'] == i].agg({'transactions': 'mean'})
    axs[i].plot(np.arange(1, 7), (np.ones((1, 6))*mean_value.values).reshape((6,-1)), 
                color = color_list[i], lw =3, linestyle = 'dashed')
    axs[i].set_title('cluster' + str(i), fontsize = 16)
    axs[i].set_xlim((-0.5,6.5))
    axs[i].set_ylim((-0.5,35))

fig.suptitle('Transactions vs Offers Viewed', fontsize = 20, fontweight = 'bold')
plt.tight_layout()
plt.show()

In [ ]:
fig, axs = plt.subplots(1, 5, figsize = (18,5))
for i in range(5):
    sns.scatterplot(data = customer_with_cluster[customer_with_cluster['cluster'] == i],
                   x = 'interest', y = 'offC', alpha = 1, color = color_list[i], ax = axs[i])
    mean_value = customer_with_cluster[customer_with_cluster['cluster'] == i].agg({'offV': 'mean'})
    axs[i].plot(np.arange(1, 7), (np.ones((1, 6))*mean_value.values).reshape((6,-1)), 
                color = color_list[i], lw =3, linestyle = 'dashed')
    axs[i].set_title('cluster' + str(i), fontsize = 16)

fig.suptitle('Transactions vs Offers Viewed', fontsize = 20, fontweight = 'bold')
plt.tight_layout()
plt.show()

# Cluster Analysis
+ Cluster 0 : Low Engagers
+ Cluster 1 : Offer Sensitive
+ Cluster 2 : Most Valuable Customer
+ Cluster 3 : Loyal Customers
+ Cluster 4 : Offer Viewers

In [ ]:
X = customer_behavior_scaled
Y = customer_with_cluster['cluster']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 10)

In [ ]:
# K-Nearest Neighbors Classificaiton
knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train, y_train)

# Check test accuracy
y_predict = knn.predict(x_test)
print("Test accuracy:", metrics.accuracy_score(y_test, y_predict))

In [ ]:
# Scale features
rows_top_money_spent_scaled = scaler_customer_behavior.transform(rows_top_money_spent)

# Have a direct look at the clustering result
knn.predict(rows_top_money_spent_scaled)

In [ ]:
customerData['cluster'] = customer_with_cluster['cluster']

In [ ]:
sns.jointplot(data=customerData[customerData['cluster']==1], x="income",y='age', kind="kde")

In [ ]:
# merge 
# Reset index for `customer_behavior_clustered`
customer_behavior_clustered.reset_index(inplace = True)
# Merge
customer_behavior_profile = pd.merge(customer_behavior_clustered, customers,
                                    left_on = 'person', right_on = 'id').drop(['id'], axis = 1)
# Add column `cluster_alias`
customer_behavior_profile['cluster_alias'] = customer_behavior_profile['cluster'].map({1: 'Low Engagers',
                                                                                       3: 'Loyal Customers',
                                                                                       4: 'Offer Sensitive',
                                                                                       2: 'Most Valuable Customer',
                                                                                       0: 'Offer Viewers'})
customer_behavior_profile.head(3)

In [ ]:
plt.figure(figsize=(15,6))
sns.jointplot(data=customer_behavior_profile[customer_behavior_profile8['cluster']==1], x="age", y="income", hue="gender", kind="kde")